{% extends 'homepage/index.html' %}

{% block products %}
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">Latest Products</h2>
                        <div class="product-carousel">
                        {% for item in products  %}
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="{{ item.imageUrl }}" alt=`image of {{item.title}}` style="height:400px" >
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ hàng</a>
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Xem chi tiết</a>
                                    </div>
                                </div>
                                
                                <h2><a href="single-product.html">{{item.title}}</a></h2>
                                
                                <div class="product-carousel-price">
                                    <ins>{{item.price}} <sup>đ</sup> </ins> <del>10.000.000 <sup>đ</sup> </del>
                                </div> 
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->
{% endblock products %}